.lmj-banner {
    background-color: #8C1415;
    color : white;
    text-align: right;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 3000px;
}

.lmj-logo {
    height: 125px;
    width: 125px;
}
